*, *:before:, *:after {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000000;
}

.navbar {
  background-image: url("../images/Nav Bar.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 24px;
  width: 362px;
}

.map {
  background-image: url("../images/Map.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 332px;
  width: 360px;
}

.container {
  margin: 0 auto;
  width: 360px;
  display: block;
  box-sizing: border-box;
  background-color: #EFF2F4;
}

.route-data {
  height: 72px;
  width: 360px;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #e0e0e0;
  margin: 0;
  list-style: none;
}

.line {
  width: 20%;
  padding-right: 16px;
  font-size: 2.5em;
  font-weight: 500;
  text-align: right;
  float: left;
}

.destination {
  /* width: 50%; */
  box-sizing: border-box;
  line-height: 20px;
  margin-left: 70px;
  /* float: left; */
}

.time {
  /* width: 30%; */
  text-align: right;
  float: right;
  line-height: 20px;
  padding-top: 0px;
  height: 50px;
}

.frequency {
  font-size: .8em;
  /* width: 25%; */
  /* float: right; */
  box-sizing: border-box;
  color: #787878;
  list-style: none;
  padding: 0px;
}

.service {
  font-size: .8em;
  border-top: none;
  color: #E02020;
  line-height: 20px;
  list-style: none;
  padding-left: 0px;
}

.Northbound {
  font-size: .8em;
  border-top: none;
  color: #1F72B1;
  line-height: 20px;
  list-style: none;
  padding-left: 0px;
}

.Eastbound {
  font-size: .8em;
  box-sizing: border-box;
  border-top: none;
  color: #B620E0;
  line-height: 20px;
  list-style: none;
  padding-left: 0px;
}

.Southbound {
  font-size: .8em;
  box-sizing: border-box;
  border-top: none;
  color: #59A608;
  list-style: none;
  padding-left: 0px;
}

.Reroute {
  font-size: .8em;
  box-sizing: border-box;
  border-top: none;
  color: #F2810D;
  line-height: 20px;
  list-style: none;
  padding-left: 0px;
}

.route-data:hover {
  background-color: #6D7278;
}

.tab-bar {
  background-image: url("../images/Tab bar.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 48px;
  width: 362px;
}



.leftE {
  float: left;
  width: 15%;
  padding: 50px;
}
.centerE {
  padding: 50px;
}
.rightEx {
  float: right;
  width: 20%;
  padding: 50px;
}
