*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000000;
}

.navbar {
  background-image: url("../images/Nav Bar.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 24px;
  width: 360px;
}

.map {
  background-image: url("../images/Map.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 340px;
  width: 360px;
}

input {
  font-size: 1em;
  padding-left: 15px;
  height: 48px;
  width: 344px;
  background-color: #FAFAFA;
  border: 1px solid #FAFAFA;
  border-radius: 2px;
  display: block;
  margin-left: 8.5px;
  margin-top: 6px;
  position: absolute;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}

.container {
  margin: 0 auto;
  width: 360px;
  display: block;
  background-color: #EFF2F4;
}

.upcoming-bus {
  height: 72px;
  width: 360px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #e0e0e0;
  margin: 0;
  list-style: none;
  background-color: #6DD400;
  color: #FFFFFF;
}

.route-data {
  height: 72px;
  width: 360px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #e0e0e0;
  margin: 0;
  list-style: none;
}

.line {
  width: 20%;
  font-size: 2.5em;
  font-weight: 500;
  text-align: right;
  float: left;
}

.destination {
  line-height: 20px;
  margin-left: 20px;
  float: left;
  line-height: 20px;
}

.time {
  text-align: right;
  float: right;
  line-height: 20px;
  padding-top: 0px;
  height: 50px;
}

.next-bus {
  font-size: .8em;
  color: #FFFFFF;
  list-style: none;
  padding: 0px;
}

.frequency {
  font-size: .8em;
  color: #787878;
  list-style: none;
  padding: 0px;
}

.service {
  font-size: .8em;
  border-top: none;
  color: #E02020;
  line-height: 20px;
  list-style: none;
  padding-left: 0px;
}

.Northbound {
  font-size: .8em;
  border-top: none;
  line-height: 20px;
  list-style: none;
  padding-left: 0px;
}

.Eastbound {
  font-size: .8em;
  border-top: none;
  line-height: 20px;
  list-style: none;
  padding-left: 0px;
}

.Southbound {
  font-size: .8em;
  border-top: none;
  list-style: none;
  padding-left: 0px;
}

.Reroute {
  font-size: .8em;
  border-top: none;
  line-height: 20px;
  list-style: none;
  padding-left: 0px;
}

.upcoming-bus:hover {
  background-color: #6D7278;
}

.route-data:hover {
  background-color: #6D7278;
}

.tab-bar {
  background-image: url("../images/Tab bar.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 48px;
  width: 362px;
}
